@model List<Factura>

@foreach (var factura in Model)
{
    <tr>
        <td>@factura.Cod_factura</td>
        <td>@factura.Cedula_cliente</td>
        <td>@factura.Cedula</td>
        <td>@factura.FechaVenta</td>
        <td>
            @if (factura.Estado == "Proceso")
            {
                <span>En Proceso</span>
            }
            else if (factura.Estado == "Pagado")
            {
                <span>Completada</span>
            }
            else if (factura.Estado == "Cerrado")
            {
                <span>Cerrada</span>
            }
        </td>
        <td>
            @if (factura.Estado == "Proceso")
            {
                <a href="@Url.Action("CrearPedido", "Pedido", new { codigo = factura.Cod_factura })">Agregar</a>
            }else
            {
                <span>Sin acciones</span>
            }
        </td>
    </tr>
}