@model GananciaViewModel
@{
    ViewData["Title"] = "AgregarGanancia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h3 class="card-title">Recogida de Venta del Día</h3>
            </div>
            <div class="card-body">
                <!-- Información de la factura -->
                <div class="row mb-4">
                    <div class="col-md-6">
                        <h5><strong>Fecha:</strong> <span>@DateTime.Now.ToString("yyyy-MM-dd")</span></h5>
                        <h5><strong>Vendedor:</strong> <span>@User.FindFirst("Cedula").Value</span></h5>
                    </div>
                    <div class="col-md-6 text-end">
                        <h5><strong>Sucursal:</strong> <span>@Model.IdPDV</span></h5>
                    </div>
                </div>

                <!-- Formulario de venta -->
                <form role="form" asp-controller="Pedido" asp-action="InsertarVentas">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="ventaMakrotecno"><strong>Total:</strong></label>
                                <input type="number" class="form-control" id="ventaMakrotecno" value="@Model.TotalVventa" name="ventaMakrotecno" readonly>
                            </div>
                            <div class="form-group mb-3">
                                <label for="ventaMakrotecno"><strong>Efectivo:</strong></label>
                                <input type="number" class="form-control" id="ventaEfectivo" placeholder="Ingrese el monto en efectivo" name="ventaEfectivo" required>
                            </div>
                            <div class="form-group mb-3">
                                <label for="ventaRecarga"><strong>Recarga:</strong></label>
                                <input type="number" class="form-control" id="ventaRecarga" placeholder="Ingrese la venta de recarga" name="ventaRecarga">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="valorCompras"><strong>Compras:</strong></label>
                                <input type="number" class="form-control" id="valorCompras" value="@Model.TotalCompras" name="valorCompras">
                            </div>
                            <div class="form-group mb-3">
                                <label for="chkVentaPasivos"><strong>Depósitos Bancarios:</strong></label>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="chkVentaBancaria" onchange="toggleInput()" />
                                    <label class="form-check-label" for="chkVentaPasivos">Activar</label>
                                </div>
                                <input type="number" class="form-control mt-2" id="ventaBancaria" placeholder="Ingrese la venta de pasivos" name="ventaBancaria" value="0" disabled>
                            </div>
                            <div class="form-group mb-3">
                                <label for="netoMakrotecno"><strong>Neto:</strong></label>
                                <input type="number" class="form-control" id="netoMakrotecno" value="@Model.TotalVneto" name="netoMakrotecno">
                            </div>
                        </div>
                    </div>

                    <div class="text-end mt-4">
                        <button type="submit" class="btn btn-success btn-lg">
                            <i class="bi bi-check-circle"></i> Guardar
                        </button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center bg-light">
                <h5 class="m-0"><strong>Compras Totales:</strong> @Model.TotalCompras </h5>
            </div>
        </div>
    </div>
</div>
<!-- /.content-wrapper -->

<script>
    function toggleInput() {
        var inputVentaBancaria = document.getElementById('ventaBancaria');
        var chkVentaBancaria = document.getElementById('chkVentaBancaria');

        if (chkVentaBancaria.checked) {
            inputVentaBancaria.disabled = false;
        } else {
            inputVentaBancaria.disabled = true;
            inputVentaBancaria.value = '0'; // Establecer el valor a 0 cuando se deshabilite
        }
    }
</script>

