@model IEnumerable<Plataforma.Models.Producto>
@using System.Net;
<div class="container">
    <div class="row">
        @if (Model != null && Model.Any())
        {
            <h2 class="text-center my-4">Categoría: @Model.First().Categoria</h2>
            @foreach (var producto in Model)
            {
                var mensajeWhatsApp = WebUtility.UrlEncode($"!Hola¡ Estoy interesado en un producto! Código: {producto.Cod_Producto}");
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="producto-item card h-100">
                        <img src="@Url.Content($"~/img/Productos/{producto.Categoria}/{producto.Cod_Producto}.png")"
                             alt="@producto.NombreProducto"
                             loading="lazy"
                             onerror="this.onerror=null;this.src='@Url.Content("~/img/Productos/nodisponible.png")';" />
                        <div class="card-body">
                            <h5 class="card-title">@producto.NombreProducto</h5>
                            <p class="card-text">Codigo: @producto.Cod_Producto</p>
                            <p class="card-text">Categoría: @producto.Categoria</p>
                            <p class="card-text">Precio: @producto.ValorVentaProducto</p>
                            @if (producto.CantidadProducto <= 0)
                            {
                                <p class="text-danger font-weight-bold">Agotado</p>
                            }
                            else
                            {
                                <p class="text-success font-weight-bold">Disponible</p>
                                <p>
                                    Más Información:
                                    <a href="https://wa.me/573185313379?text=@mensajeWhatsApp"
                                       target="_blank">
                                        WhatsApp
                                    </a>
                                </p>
                            }
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-12">
                <p>No hay productos disponibles en esta categoría.</p>
            </div>
        }
    </div>
    <div id="errorMessages"></div>
    <script>
        // Manejar errores de carga de imagen
        $('img').on('error', function (event) {
            event.preventDefault();
            event.stopPropagation();
            this.src = '@Url.Content("~/img/Productos/nodisponible.png")';
        });
    </script>
</div>