@model Plataforma.Models.DetallesFacturaViewModel;
<div class="card mt-4">
    <div class="card-header">
        <h5>Detalles de la Factura @Model.Factura.Cod_factura</h5>
    </div>
    <div class="card-body">
        <p><strong>Codigo de Factura:</strong> @Model.Factura.Cod_factura</p>
        <p><strong>Fecha de Venta:</strong> @Model.Factura.FechaVenta.ToString("dd/MM/yyyy")</p>
        <p><strong>Tipo de Factura:</strong> @Model.Factura.TipoFactura</p>

        <h5>Compras asociadas:</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Valor</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var compra in Model.Compras)
                {
                    <tr>
                        <td>@compra.Cod_Producto</td>
                        <td>@compra.Stock</td>
                        <td>@compra.ValorU</td>
                        <td>@compra.ValorTotal</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>