@model List<Empresas>
@{
    ViewData["Title"] = "EmpleadoEmpresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="container">
        <h2>Lista de Empresas</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Id Empresa</th>
                    <th>Nombre</th>
                    <th>País</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Proceso</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var empresa in Model)
                {
                    <tr>
                        <td>@empresa.Id_empresa</td>
                        <td>@empresa.Nombre</td>
                        <td>@empresa.Pais</td>
                        <td>@empresa.Direccion</td>
                        <td>@empresa.Telefono</td>
                        <td><a asp-controller="Usuario" asp-action="FormEmpleadoEmpresa" asp-route-id_empresa="@empresa.Id_empresa">Agregar Empleado</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>